<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Diaper Request History</h5>
  <div class="card-body">
    <table class="table table-striped dashboard">
      <thead>
        <tr class="row">
          <th scope="col" class="col-1">No.</th>
          <th scope="col" class="col">Contents</th>
          <th scope="col" class="col">Pickup Sheet</th>
          <th scope="col" class="col">Request Date</th>
        </tr>
      </thead>

      <tbody>
        <%# @partner_requests.each do |partner_request| %>
          <tr class="row">
            <td class="col-1">00</td>
            <td class="col">Some contents</td>
            <td class="col">Maybe sheet?</td>
            <td class="col">A date</td>
          </tr>
        <%# end %>
      </tbody>
    </table>
  </div>
</div>