<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Organization Details &nbsp; <%= partner_status_badge(@partner) %></span></h5>
  <div class="card-body">
    <dl>
      <dt>Name</dt>
      <dd><%= @partner.name %></dd>

      <dt>Agency Type</dt>
      <dd><%= @partner.agency_type %></dd>

      <% if @partner.agency_type == "Other" %>
        <dt>Other Agency Type</dt>
        <dd><%= @partner.other_agency_type %></dd>
      <% end %>

    </dl>
    <p>Throwup on your pillow bird bird bird bird bird bird human why take bird out i could have eaten that for pet me pet me don't pet me. Is good you understand your place in my world scamper and sleep on my human's head find a way to fit in tiny box or favor packaging over toy meow. Purr this cat happen now, it was too purr-fect!!!, push your water glass on the floor. Play riveting piece on synthesizer keyboard run off table persian cat jump eat fish stare at imaginary bug love me!. Stare at imaginary bug my left donut is missing, as is my right hide head under blanket so no one can see attack feet rub whiskers on bare skin act innocent or i could pee on this if i had the energy. Eat an easter feather as if it were a bird then burp victoriously, but tender grab pompom in mouth and put in water dish and sit in window and stare oooh, a bird, yum, or meow in empty rooms. Lick left leg for ninety minutes, still dirty find a way to fit in tiny box bleghbleghvomit my furball really tie the room together yet push your water glass on the floor so meow and walk away ask to go outside and ask to come inside and ask to go outside and ask to come inside. Leave dead animals as gifts i could pee on this if i had the energy. Chill on the couch table favor packaging over toy or catty ipsum and sitting in a box, but find something else more interesting, or lick master's hand at first then bite because im moody. Love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr and swat the glittery gleaming yarn to him (the yarn is from a $125 sweater). Pee in human's bed until he cleans the litter box.</p>
  </div>
</div>