<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Organization Details &nbsp; <%= partner_status_badge(@partner) %></span></h5>
  <div class="card-body">
    <h2>Name</h2>
    <dd><%= @partner.name %></dd>

    <h2>Agency Type</h2>
    <dd><%= @partner.agency_type %></dd>

    <% if @partner.agency_type == "Other" %>
      <h2>Other Agency Type</h2>
      <dd><%= @partner.other_agency_type %></dd>
    <% end %>

    <p>Howdy pardner!</p>
  </div>
</div>