<div class="w3-card mb-4 ">
  <% if @partner.verified? %>
  <h5 class="card-header bg-white">Request Essentials</h5>
  <% end %> 
    <div class="col-6-lg">
      <div class="actions mt-4">
        <% if @partner.verified? %>
          <%= link_to 'Create New Bulk Essentials Request', new_partner_request_path, class: 'btn btn-sm btn-primary' %>
          <p>Use this type of request when you want to specify the number of diapers, period supplies,
          <br>and other essentials. Example - 1000 Size 1 Diapers, 500 Tampons, etc.</p>
        <% end %>
        <% if @partner.verified? %>
          <%= link_to 'Create New Family Essentials Request', new_family_request_path, class: 'btn btn-sm btn-primary' %>
          <p>Use this type of request when you you are using the children and family functionality and
          <br> are identifying the specific children you are requesting for.</p>
        <% end %>
        <% if @partner.verified? %>
          <%= link_to 'Create New Individuals Essentials Request', new_individuals_request_path, class: 'btn btn-sm btn-primary' %>
          <p>Use this type of request when you want to just request by the number of individuals in a specific category. 
          <br>Example - 10 individuals for Size 1 diapers, 5 individuals need tampons, etc.</p>
        <% end %>
      </div>
    </div>
</div>