<div class="tile">
  <h3 class="tile-title">Agency Distribution Information</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">Distribution Times</label>
        <div class="col-md-8">
          <%= form.text_field :distribution_times, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">New Client Times</label>
        <div class="col-md-8">
          <%= form.text_field :new_client_times, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">More Docs Required</label>
        <div class="col-md-8">
          <%= form.text_field :more_docs_required, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
