<div class="tile">
  <h3 class="tile-title">Additional Documents</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group">
        <% if partner.documents.attached? %>
          <div class="row">
            <div class="col-6">
              Attached files:
              <ul>
                <% partner.documents.each do |doc| %>
                  <li><%= link_to doc.blob['filename'], rails_blob_path(doc), class: "font-weight-bold" %></li>
                <% end %>
              </ul>
            </div>
            <div class="col-6">
              <%= form.file_field :documents, multiple: true, class: "form-control-file" %>
            </div>
          </div>
        <% else %>
          <%= form.file_field :documents, multiple: true, class: "form-control-file" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
