<div class="tile">
  <h3 class="tile-title">Diaper Pick Up Person</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">Pick Up Method</label>
        <div class="col-md-8">
          <%= form.text_field :pick_up_method, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Pick Up Person Name</label>
        <div class="col-md-8">
          <%= form.text_field :pick_up_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Pick Up Phone</label>
        <div class="col-md-8">
          <%= form.text_field :pick_up_phone, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Pick Up Email</label>
        <div class="col-md-8">
          <%= form.text_field :pick_up_email, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
