<div class="tile">
  <h3 class="tile-title">Media Information</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">Website</label>
        <div class="col-md-8">
          <%= form.text_field :website, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Facebook</label>
        <div class="col-md-8">
          <%= form.text_field :facebook, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Twitter</label>
        <div class="col-md-8">
          <%= form.text_field :twitter, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
