<div class="tile">
  <h3 class="tile-title">Sources of Funding</h3>
  <div class="tile-body">
    <div class="form-horizontal">
      <div class="form-group row">
        <label class="control-label col-md-3">Sources Of Funding</label>
        <div class="col-md-8">
          <%= form.text_field :sources_of_funding, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">How do you currently obtain diapers?</label>
        <div class="col-md-8">
          <%= form.text_field :sources_of_diapers, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Diaper Budget</label>
        <div class="col-md-8">
          <%= form.text_field :diaper_budget, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-3">Diaper Funding Source</label>
        <div class="col-md-8">
          <%= form.text_field :diaper_funding_source, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
