<div class="w3-card mb-4">
  <h5 class="card-header bg-white">Request Essentials</h5>
    <div class="card-body">
      <div class="container-fluid">
        <div class = "row text-center">
          <div class ="col-4">
            <h2><%= link_to new_partner_request_path, class: 'btn btn-sm btn-primary'  do %>
              <i class ="fa fa-shopping-basket"></i>Create New Bulk Essentials Request
              <%end%>
             </h2>
            <h6>Use this type of request when you want to specify the number of diapers, period supplies,
            and other essentials. Example - 1000 Size 1 Diapers, 500 Tampons, etc.</h6>
          </div>
          <div class="col-4">
              <h2><%= link_to new_partner_request_path, class: 'btn btn-sm btn-primary'  do %>
                <i class ="fa fa-shopping-basket"></i>Create New Bulk Essentials Request
              <%end%>
              
          