<%= form.fields_for("items[]", OpenStruct.new(id: 0)) do |field| %>
  <tr>
    <td><%= field.input :item_id, collection: valid_items_for_select(valid_items), label: false, allow_blank: true, class: 'form-control' %></td>
    <td><%= field.input :children_count, as: :integer, label: false, step: 1, min: 1, class: 'form-control' %></td>
    <td>
      <%= remove_item_button "Remove" %>
    </td>
  </tr>
<% end %>