/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap.min
 */


@import "dashboard";

.thick-grey-border {
  border: solid #aaa 2px;

  h2 {
    font-weight: 500;
  }

  label {
    display: inline-block;
    font-weight: 600;
  }

  a {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  padding: 15px;
  margin-right: -30px;
  margin-left: -30px;
  color: #444444;
  border-top: 1px solid #d2d6de;
}
