// Styling for dashboard partner status badge
h5.card-header > span.badge {
  display: inline-flex;
  float: none !important;
  vertical-align: text-top;
}

h5.card-header > span.badge-primary {
  color: #009688;
  background-color: #FFF;
}
