<tr>
  <td><%= form.select :item_id, @valid_items, {include_blank: 'Select an item'}, {class: 'form-control'} %></td>
  <td><%= form.number_field :quantity, label: false, step: 1, min: 1, class: 'form-control' %></td>
  <td>
    <%= form.hidden_field :_destroy, as: :hidden %>
    <%= link_to 'Remove', '#', class: 'remove_record btn btn-warning' %>
  </td>
</tr>
