<tr>
<td><%= form.select :name, POSSIBLE_ITEMS.slice(*@valid_items).invert.sort_by{|k,v|k}, {include_blank: 'Select an item'}, {class: 'form-control'} %></td>
  <td><%= form.number_field :quantity, label: false, step: 1, min: 1, class: 'form-control' %></td>
  <td>
    <%= form.hidden_field :_destroy, as: :hidden %>
    <%= link_to 'Remove', '#', class: 'remove_record', class: 'btn btn-warning' %>
  </td>
</tr>
