<footer class="main-footer">
  <div class="pull-right hidden-xs"></div>
  <strong>Partnerbase was built with <i class="fa fa-heart"></i> by <a href="http://rubyforgood.org">Ruby for Good</a>.</strong>
</footer>
