<div class="footer fixed">
    <div class="pull-right hidden-xs">
        <strong>Partnerbase was built with <i class="fa fa-heart"></i> by <a href="http://rubyforgood.org">Ruby for Good</a>.</strong>
    </div>
</div>
