<!DOCTYPE html>
<html lang="en">
<head>
  <title>Partner Base</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body id="devise" class="hold-transition login-page">
<div class="login-box">

<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo" style="text-align: center;color:white">
    <h1>PartnerBase</h1>
  </div>
  <div class="login-box-body">
    <div class="form-group has-feedback">
      <%= yield %>
    </div>
  </div>
</section>
</div>
</body>
</html>